html,
body,
.app{
  height: 100vh;
  background: #eeeeee;
  padding: 1em;
  color:black
}


/*Messages*/

.messages{
  height: 62vh;
  overflow-y: scroll;
}

.messages__progress{
  height: 58vh;
  overflow-y: scroll;
}


/* message form */
 .message__form{
  position: fixed !important;
  bottom: 1em;
  margin-left:320px !important;
  margin-top: 100px;
  left:0;
  right:1em;
  z-index:200;
}

/* message.js */
.message__self{
  border-left: 2px solid orange;
  padding-left: 8px;
  /* float: right; */
}

.message__image{
  padding: 1em;
}

/* progress bar */
.progress__bar{
  margin:0 0 0 0 !important;
}

/*sidepane.js- menu */
.menu{
  padding-bottom: 2em;
}